<!DOCTYPE html>
<html lang="en">

<head>
  <title>Collage Maker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link href="{% static 'collage_maker/style.css' %}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Collage Maker</h1>
  </header>
  <div class="container">
      <div class="sidebar">
        <h1>Choose a collage</h1>
        <div id="collage-icon-container"></div>

        <h1>Background color</h1>
        <div id="color-list"></div>
        <input type="text" placeholder="custom color ex: #FFFFFF" />
      </div>

      <div id="collage-container"></div>

      
  </div>

</body>
<script type="module" src="{% static 'collage_maker/script.js' %}"></script>

</html>
