*{
  margin:0;
  padding:0;
}

html, body{
  height:100%;
  width:100%;

}

body{
  background: url("/static/collage_maker/images/bg.png");
  background-repeat:no-repeat;
  background-size: cover;
}

header{
  padding:16px 32px;
  background-color:#2e3440;
  color:white;
}

.container{
  height:95%;
  display:grid;
  grid-template-columns:400px 1fr;
  grid-template-rows:1fr;
}



.sidebar{
  height:100%;
  width:100%;
  background-color:#f8f9fa;
  padding:16px;
  overflow:scroll;

  display:flex;
  flex-direction:column;
  gap:16px 0;
}

.sidebar h1{
  text-align:center;
  font-size:1.3rem;
}

.sidebar .selected-collage img{
  width:100%;
}

.sidebar #collage-icon-container {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  gap:16px;
}
.sidebar #collage-icon-container .collage-icon{
  width:64px;
  height:64px;
  grid-gap:4px;
  padding:0;
}

.sidebar #collage-icon-container div div{
  background-color:grey;

}



#collage-container{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

#collage-container .collage{
  width:500px;
  height:400px;
}


#collage-container .collage label{
  width:100%;
  height:100%;
}


#collage-container .collage label div{
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
#collage-container div div{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#D6D6D6;
}

#collage-container div div input {
  display:none;
}

#collage-container div div label img{
  width: 32px;
  height: 32px;
}

#color-list {
  display:flex;
  flex-wrap:wrap;
  gap:4px;
}

#color-list div{
  width: 24px;
  height: 24px;
  background-color:red;
}

#download-collage{
  /* margin-top:16px; */
  margin-top:auto;
  width:100%;
  font-size:1.5rem;
  padding:8px;

}

.collage-1{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr;
  grid-gap:8px;
  background-color:white;
  padding:16px;
}

.collage-2{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr;
  grid-gap:8px;
  background-color:white;
  padding:16px;
}

.collage-3{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:1fr;
  grid-gap:8px;
  background-color:white;
  padding:16px;
}


.collage-4{
  display:grid;
  grid-template-columns:25% 1fr;
  grid-template-rows:1fr 1fr;
  grid-gap:8px;
  background-color:white;
  padding:16px;
}
